[submodule "tests/bats/test_helper/bats-assert"]
	path = tests/bats/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert
[submodule "tests/bats/test_helper/bats-support"]
	path = tests/bats/test_helper/bats-support
	url = https://github.com/bats-core/bats-support
